*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    background-color: whitesmoke;
}

header{
    padding: 30px;
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    
}
h1 {
    color: #b67162;
    font-family: 'Abel', sans-serif;
}

h2{
    color: #b67162;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    margin-bottom: 10px ;
    font-weight: bold;
}

nav{
    background-color: #d8ac9c;
    margin-bottom: 20px;

}

nav ul{
    position: relative;
    
}

nav ul li{
    margin-left: 15%;
    display: inline-block;
    padding: 20px;
}


nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    font-size: 16pt;
}

#hero{
    width: 100%;
    text-align: center;
}
#hero img{
    width: 70%;
    margin-bottom: 30px;
}


li{
    
    font-size: 14pt;
    list-style: inside;
    list-style-type: circle;
    padding-left: 5px;
    padding-bottom: 5px;
   
    
}


#chin{
    width: 100%;
    text-align: center;
}
#chin img{
    width: 70%;
    border-radius: 30px;
}


#images{
    width: 100%;
    text-align: center;

}
#images img{
    width: 50%;
    margin-bottom: 30px;
}

footer p{
    clear: both;
    padding: 20px;
    text-align: center;
    background-color: #d8ac9c;
    margin-top: 20px;
    
}
hr{
    border: 1px solid #d8ac9c;
   margin-top: 20px;
}
#locations article{
    margin-left: 13%;
    display: inline-block;
    padding: 20px;
    
}
.contact{
    position: relative;
    bottom: 60px;
}
